body {
    background-image: url('img/moraine_lake_canadian_rockies-wallpaper-1600x900.jpg');
    background-size: cover;
    color: rgb(27, 148, 204)
}

h1 {
    font-family: "Papyrus", "Copperplate", fantasy;
    font-size: 75px;
}

h3 {
    font-family: "Papyrus", "Copperplate", fantasy;
    font-size: 30px;
}


input {
    margin-right: 0%;
    padding: 0%;
    font-family: "Papyrus", "Copperplate", fantasy;
    font-size: 30px;
    color: rgb(27, 148, 204)
}

.placholder {
    font-family: "Papyrus", "Copperplate", fantasy;
    font-size: 30px;
}


button {
    color: rgb(27, 148, 204)

}